$ff-base: sans-serif;
$fs-root: 62.5%;
$fs-base: 1.6rem;

$headings-margin-bottom: 1rem / 2;

$col-main-black: #303030;
$col-main-yellow: #ffb80c;
$col-main-bg: #dfe5e5;
$col-primary: #0d6efd;
$col-secondary: #6c757d;
$col-success: #198754;
$col-danger: #dc3545;
$col-warning: #ffc107;
$col-info: #0dcaf0;
$col-white: #ffffff;
$col-black: #000000;

* {
  margin: 0;
  padding: 0;
  font-family: $ff-base;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $fs-root;
}

body {
  font-size: $fs-base;
  text-align: left;
  background-color: $col-main-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

.col2 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 5px;
  .row {
    width: 100%;
    border-bottom: solid thin lighten($col-main-black, 31%);
    padding: 5px;
    margin: 0 -5px;
    font-size: 1.4rem;
  }
}

%navbarTpl {
  nav {
    display: flex;
  }
  a {
    display: block;
    font-variant: small-caps;
  }
  .container {
    padding: 0;
  }
}

.navbar {
  @extend %navbarTpl;
  background-color: $col-main-yellow;
  color: $col-black;
  a {
    padding: 15px 10px;
    &:hover,
    &.active {
      background-color: $col-main-black;
      color: $col-white;
    }
  }
}

.actionbar {
  @extend %navbarTpl;
  background-color: $col-main-black;
  color: $col-white;
  margin-bottom: 10px;
  a,
  p {
    padding: 5px 10px;
  }
  a {
    &:hover {
      background-color: lighten($col-main-black, 9%);
    }
    &.active {
      font-style: italic;
      color: $col-main-yellow;
    }
  }
}

dw-card {
  min-width: 25%;
}

.card {
  margin: 8px;
  background-color: $col-white;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  .card-title {
    display: flex;
    align-items: center;
    background-color: lighten($col-main-black, 12%);
    color: #fff;
    padding: 8px;
  }
  .card-body {
    padding: 8px;
  }
}
